<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Action Figure</title>
</head>

<body>
  <h1>Cadastro de Action Figure</h1>
  <hr>
  <form action="/actionfigure/insertactionfigure" method="post">
    <div>
      <label for="Nome">Nome</label>
      <input type="text" name="nome" id="Nome">
    </div>
    <div>
      <label for="tipo">Tipo </label>
      <input type="text" name="tipo" id="tipo">
    </div>
    <div>
      <label for="preco">Valor</label>
      <input type="text" name="preco" id="preco">
    </div>
    <button type="submit">Cadastrar</button>
  </form>
  <a href="/">VOLTAR</a>
</body>