<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo Action Figure</title>
</head>

<body>
    <form action="/buscar/actionfigure/" method="post">
        <div>
            <input type="text" name="busca" id="busca">
            <input type="submit" value="Buscar">
        </div>
    </form>
    <hr>
    <a href="/">VOLTAR</a>
    <h1> Action Figures </h1>
    {{#each listar}}
    <strong>#{{this.id}} </strong> -
    Nome: <a href="/actionfigure/{{this.id}}"> {{nome}} </a>
    <br>
    {{/each}}
</body>