<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de brinquedos</title>
</head>

<body>
    <h1>Cadastrar um novo brinquedo</h1>
    <hr>
    <form action="brinquedo/cadastrar" method="POST">
        <div>
            <label for="nome">Nome</label>
            <input type="text" name="nome" placeholder="Digite o nome do brinquedo">
        </div>
        <div>
            <label for="marca">Marca</label>
            <input type="text" name="marca" placeholder="Qual e a marca do brinquedo?">
        </div>
        <div>
            <label for="material">Tipo de material</label>
            <input type="text" name="material" placeholder="Qual e o tipo de material?">
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" name="preco" placeholder="Qual e o valor do brinquedo?">
        </div>
        <button type="submit">Cadastrar</button>
    </form>
    <a href="/">VOLTAR</a>
</body>