<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastrar Associados</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/empresa.css">
</head>

<body>
<a href="/listaempresas"> Empresas cadastrados</a>


  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
            <img src="/public/img/girassol.png" alt="girassol" class="center" width="120px" height="100px">
        <img class="d-block mx-auto mb-4" src="/public/girassol.png"
          alt="" width="72" height="72">
        <h2>Cadastro de Empresas</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group
          has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <form action="empresa/insertEmpresa" method="post">


        <div class="mb-3">
          <label for="Nome" class="form-label">Nome</label>
          <div class="input-group">
            <input type="text" class="form-control" name="nome" id="nome" required="">
            <div class="invalid-feedback" style="width: 100%;">
              Preencha seu Nome
            </div>
          </div>
        </div>




        <div class="mb-3">
          <label for="cnpj">CNPJ</label>
          <div class="input-group">
            <input type="text"  type="number" class="form-control" name="cnpj" id="cnpj"  required="">
            <div class="invalid-feedback" style="width: 100%;">
              Digite o cnpj.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted"></span></label>
          <input type="email" class="form-control" name="email" id="email" >
          <div class="invalid-feedback">
            Digite o e-mail.
          </div>
        </div>

          <div class="mb-3">
          <label for="telefone">Telefone <span class="text-muted"></span></label>
          <input type="telefone" class="form-control" name="telefone" id="email">
          <div class="invalid-feedback">
            Digite o e-mail.
          </div>
        </div>

        <div class="mb-3">
          <label for="local">Endereço</label>
          <input type="text" class="form-control" id="local" name="local" required="">
          <div class="invalid-feedback">
            Digite o endereço.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>

    </div>
    </form>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>

  
  </body>
