<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionario</title>
</head>

<body>
    <header>

    </header>
    <main>
        <h1>Cadastrar um novo funcionario</h1>
        <hr>
        <form action="funcionario/addfuncionario" method="POST">
            <div class="form-control">
                <label for="cpf">CPF: </label>
                <input type="text" name="cpf" placeholder="Digite o CPF">
            </div>
            <div class="form-control">
                <label for="nome">Nome: </label>
                <input type="text" name="nome" placeholder="Digite o nome">
            </div>
            <div class="form-control">
                <label for="cargo">Cargo: </label>
                <input type="text" name="cargo" placeholder="Digite o cargo">
            </div>
            <div class="form-control">
                <label for="idade">Idade: </label>
                <input type="text" name="idade" placeholder="Digite a idade">
            </div>
            <input type="submit" value="Cadastrar">
        </form>
    </main>
    <footer>

    </footer>
    
</body>