<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>

    </header>
    <main>
        <h1> Editar giftcard</h1>
        <hr>
        <form action="/alterar/updategiftcard" method="POST">
            <div class="form control">
                <input type="hidden" name="id" id="id" value="{{giftcard.id}}">
                <label for="tipo">Tipo</label>
                <input type="text" name="tipo" placeholder="Digite aqui o tipo" value="{{giftcard.tipo}}">
            </div>

            <div class="form control">
                <label for="nome">Nome</label>
                <input type="text" name="nome" placeholder="Digite aqui o nome do giftcard" value="{{giftcard.nome}}">
            </div>

            <div class="form control">
                <label for="preco">Valor</label>
                <input type="text" name="preco" placeholder="Digite aqui o preco do giftcard"
                    value="{{giftcard.preco}}">
            </div>

            <input type="Submit" value="Editar">
    </main>
    <footer>

    </footer>
</body>
</form>