<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo Gift Cards</title>
</head>

<body>
        <form action="/buscar/giftcard/" method="post">
            <div>
                <input type="text" name="busca" id="busca">
                <input type="submit" value="Buscar">
            </div>
       <hr> 
       <a href="/">VOLTAR</a>
       </form>
        {{#each listar}}
        <strong>#{{this.id}} </strong>
        - Nome: <a href="/giftcard/{{this.id}}"> {{nome}} </a>
        <br>
        {{/each}}

</body>