<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Girassol</title>
</head>

<body>
    <a href="/cadastroactionfigure">
        <h2>Cadastrar Action Figures</h2>
    </a>
    <a href="/catalogoactionfigures">
        <h2>Lista de Action Figures</h2>
    </a>
    <hr>
    <a href="/cadastrobrinquedo">
        <h2>Cadastrar um novo brinquedo</h2>
    </a>
    <a href="/catalogobrinquedos">
        <h2>Lista de brinquedos</h2>
    </a>
    <hr>
    <a href="/cadastroempresa">
        <h2>Cadastrar Empresa</h2>
    </a>
    <a href="/listaempresas">
        <h2>Lista de Empresas</h2>
    </a>
    <hr>
    <a href="/cadastrofuncionario">
        <h2>Cadastrar Funcionario</h2>
    </a>
    <a href="/listadefuncionarios">
        <h2>Lista de Funcionario</h2>
    </a>
    <hr>
    <a href="/cadastrogiftcard">
        <h2>Cadastrar Gift Card</h2>
    </a>
    <a href="/catalogogiftcard">
        <h2>Lista de Gift Cards</h2>
    </a>
    <hr>
    <a href="/cadastrojogosdemesa">
        <h2>Cadastro jogos de mesa</h2>
    </a>
    <a href="/catalogojogosdemesa">
        <h2>Lista de Jogos de mesa</h2>
    </a>
</body>