<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>
    <h1>Cadastrar um novo jogo de mesa</h1>
    <hr>
    <form action="jogodemesa/addjogodemesa" method="POST">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" placeholder="Digite o nome do jogo de mesa">
        </div>
        <div>
            <label for="genero">Gênero: </label>
            <input type="text" name="genero" placeholder="Qual e a genero do jogo de mesa?">
        </div>
        <div>
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" placeholder="Qual a descrição?">
        </div>
        <div>
            <label for="preco">Preço: </label>
            <input type="text" name="preco" placeholder="Qual e o valor do jogo de mesa?">
        </div>
        <input type="submit" value="Cadastrar">
    </form>
    <a href="/">VOLTAR</a>
</body>