/* Configuracoes gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* Navbar */
nav {
  height: 100px;
}

nav .container-fluid {
  margin: 0 50px 0 50px !important;
}

nav .btn {
  border: none;
  color: black;
  background-color: aliceblue;
  border-radius:  0 20px  20px 0 ;
}
nav .btn:hover {
  background-color: #fa2a00;
  border: #fa2a00;
}

nav input{
  border-radius: 20px 0 0  20px !important;
  border: none;
}



/* footer */
.footergira {
  color: white;
  background-color: #3d1c00;
  width: 100%;
  bottom: 0;
  display: grid;
  grid-template-areas:
    "atent loc contat"
    "links redeSocial uni"
    "logo logo logo";
  align-items: center;
  justify-content: space-around;
}

.footergira a {
  color: white;
  text-decoration: none;
}

.footergira p {
 font-size: 15px;
}

/* Configuracoes lista de brinquedos */
.cardmain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 25px 0 25px;
}

.card {
  margin: 15px;
  padding: 15px;
}

.cardmain a {
  background-color: #fa2a00;
  border: none;
}

.cardmain a:hover {
  background-color: #3d1c00;
  border: none;
}

/* Configuracao cadastro */
.formadd {
  margin: 50px auto 50px;
  max-width: 800px;
  padding: 50px;
  background-color: #f0d8a8;
  border-radius: 10px;
}

.formadd button {
  background-color: #fa2a00;
  border: none;
}

/* #btnaddlivro {
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #btnaddlivro button {
    border: none;
    background-color: lime;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    width: 300px;
    height: 30px;
    transition: 0.5s;
    padding: 2px;
    margin: 0 0 10px;
  }
  
  #btnaddlivro button:hover {
    color: white;
    background-color: green;
  } */

/* Configuracao buscarbrinquedo */
.buscarback {
  background-color: #f0d8a8;
  margin: 50px auto 50px;
  width: 1000px;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  align-content: center;
}

.botoesbuscar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
